{% extends "index.html" %}

{% block logged_in %}

<div class='col-md-3 head-div'>
  <h1>CRM</h1>
</div>
<div class='col-md-9 head-div'>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% block active %}
          <li class="active"><a href='/'>{{username}}</a></li>
          <li><a href='/messages/'>Messages</a></li>
          <li><a href='/settings/'>Settings</a></li>
          {% endblock %}
          <li>
            <a href='/logout/'>
              <button type='button' class='btn btn-success'>Log Out</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class='col-md-3'>
  <img data-src="holder.js/200x200" src="http://upload.wikimedia.org/wikipedia/commons/a/ae/Ursus_arctos_-_Norway.jpg" class="img-thumbnail">
  <p>Profile</p>
  <p>{{username}}</p>
</div>

<div id='content' class='col-md-9' style='background-color:#D3E9FC'>
  {% block content %}
  <script type='text/x-handlebars' data-template-name='application'>
    {% verbatim %}
    <h3>
      {{#link-to 'index'}}
      <span id='customers-label' class='label label-primary'>
        Customers
      </span>
      {{/link-to}}
      {{#link-to 'tasks'}}
      <span id='tasks-label' class='label label-default'>
        Tasks
      </span>
      {{/link-to}}
    </h3>
    {{input}}
    {{outlet}}
    {% endverbatim %}
  </script>

  <script type='text/x-handlebars' data-template-name='index'>
    {%verbatim%}
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
        <tr class='hover' {{action 'customerSelect' id}}>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{contact}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {%endverbatim%}
  </script>

  <script data-template-name="customer" type="text/x-handlebars">
    {%verbatim%}
    <table class='table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{contact}}</td>
        </tr>
      </tbody>
    </table>
    {{render 'tasks_list' tasks}}
    {%endverbatim%}
  </script>

  <script type='text/x-handlebars' data-template-name='tasks'>
    {%verbatim%}
    {{render 'tasks_list' model}}
    {%endverbatim%}
  </script>

  <script data-template-name="tasks_list" type="text/x-handlebars">
    {%verbatim%}
    <br>
    <div id='add-btn-div'>
      <button class="btn btn-primary" {{action 'addTask'}}>
        <span class="glyphicon glyphicon-plus"> Add Task</span>
      </button>
    </div>
    <br>
    {{#view 'newTask' isVisible=isNewTaskVisible}}
    <div class='col-md-8 col-md-offset-2 new-task-div'>
      <div class='col-md-3 btn-group-vertical'>
        <button {{action 'typeSelect' 'cService'}} class="btn btn-primary">C Service</button>
        <button {{action 'typeSelect' 'shipping'}} class="btn btn-primary unselect-button">Shipping</button>
      </div>
      <div class='col-md-9' style='padding:0;'>
        <div class='col-md-12 input-group'>
          <span class="input-group-addon" id="customerSpan">Customer</span>
          {{input id='customerInput' type='text' class='form-control' aria-describedby='customerSpan'}}
        </div>
        {{#view 'cServiceInputs' isVisible=isCService}}
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group date">
            <span class="input-group-addon date" id="beginningSpan">Beginning</span>
            {{input disabled='true' type='text' class='form-control' aria-describedby='beginningSpan'}}
          </div>
        </div>
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group date">
            <span class="input-group-addon date" id="endSpan">End</span>
            {{input disabled='true' type='text' class='form-control' aria-describedby='endSpan'}}
          </div>
        </div>
        {{/view}}
        {{#view 'shippingInputs' isVisible=isShipping}}
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group">
            <span class="input-group-addon" id="itemNumberSpan">Item #</span>
            {{input action='setBeginning' type='text' class='form-control' aria-describedby='beginningSpan'}}
          </div>
        </div>
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group date">
            <span class="input-group-addon date" id="endSpan">Quantity</span>
            {{input action='setBeginning' type='text' class='form-control' aria-describedby='endSpan'}}
          </div>
        </div>
        {{/view}}
      </div>
      <div class='col-md-12' style='padding:0;'>
        {{textarea class='form-control' maxlength='140' rows='2'}}
      </div>
    </div>
    <div class='col-md-2'></div>
    {{/view}}
    <table class='table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Created</th>
          <th>Beginning / Item Number</th>
          <th>End / Quantity</th>
        </tr>
      </thead>
      <tbody>
        {{#each task in model}}
        {{#view 'task' classNames='hover' id=task.id tag='tr' task=task}}
          <td>{{task.id}}</td>
          <td>{{task.customer.name}}</td>
          <td>{{task.createAt}}</td>
          {{#if task.isCService}}
          <td>{{task.when}}</td>
          <td>{{task.appoint}}</td>
          {{else}}
          <td>Item Number: {{task.itemNum}}</td>
          <td>Quantity: {{task.quantity}}</td>
          {{/if}}
        {{/view}}
        {{/each}}
      </tbody>
    </table>
    {%endverbatim%}
  </script>

  {% endblock %}
</div>

{% endblock %}

{% block scripts %}
<script src="/static/jquery/dist/jquery.js"></script>
<script src="/static/handlebars/handlebars.js"></script>
<script src="/static/ember/ember.js"></script>
<script src="/static/ember-data/ember-data.js"></script>
<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src='/static/home/crm.js'></script>
{% endblock %}

