{% extends "index.html" %}

{% block logged_in %}

<div class='col-md-3 head-div'>
  <h1>CRM</h1>
</div>
<div class='col-md-9 head-div'>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% block active %}
          <li class="active"><a href='/'>{{username}}</a></li>
          <li><a href='/messages/'>Messages</a></li>
          <li><a href='/settings/'>Settings</a></li>
          {% endblock %}
          <li>
            <a href='/logout/'>
              <button type='button' class='btn btn-success'>Log Out</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class='col-md-3'>
  <img data-src="holder.js/200x200" src="http://upload.wikimedia.org/wikipedia/commons/a/ae/Ursus_arctos_-_Norway.jpg" class="img-thumbnail">
  <p>Profile</p>
  <p>{{username}}</p>
</div>

<div id='content' class='col-md-9' style='background-color:#D3E9FC;'>
  {% block content %}
  <script type='text/x-handlebars' data-template-name='application'>
    {% verbatim %}
    {{outlet}}
    {% endverbatim %}
  </script>

  <script data-template-name="_buttonSearchHeader" type="text/x-handlebars">
    {% verbatim %}
    <h3>
      {{#link-to 'index'}}
      <span {{bind-attr class=':label :label-primary isIndex:selected-label'}}>
        Customers
      </span>
      {{/link-to}}
      {{#link-to 'tasks'}}
      <span {{bind-attr class=':label :label-primary isTasks:selected-label'}}>
        Tasks
      </span>
      {{/link-to}}
    </h3>
    <div class="col-md-6 input-group">
      <span class="input-group-addon" id="sizing-addon1">Search </span>
      {{input action='search' type='text' classNames='form-control'}}
    </div>
    {% endverbatim %}
  </script>

  <script type='text/x-handlebars' data-template-name='index'>
    {%verbatim%}
    {{partial 'buttonSearchHeader'}}
    <div style='height:550px;'>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        {{#each customer in model}}
        <tr class='hover' {{action 'customerSelect' customer.id}}>
          <td>{{customer.id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.contact}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
    {{partial 'paginationFooter'}}
    {%endverbatim%}
  </script>

  <script data-template-name="customer" type="text/x-handlebars">
    {%verbatim%}
    {{partial 'buttonSearchHeader'}}
    <table class='table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{contact}}</td>
        </tr>
      </tbody>
    </table>
    {{render 'tasks_list' tasks}}
    {%endverbatim%}
  </script>

  <script type='text/x-handlebars' data-template-name='tasks'>
    {%verbatim%}
    {{partial 'buttonSearchHeader'}}
    {{render 'tasks_list' model}}
    {%endverbatim%}
  </script>

  <script data-template-name="tasks_list" type="text/x-handlebars">
    {%verbatim%}
    <br>
    <div id='add-btn-div'>
      <button class="btn btn-primary selected-button" {{action 'showAddTask'}}>
        <span class="glyphicon glyphicon-plus"> Add Task</span>
      </button>
    </div>
    <br>
    {{#view 'newTask' isVisible=isNewTaskVisible}}
    <div class='col-md-8 col-md-offset-2 new-task-div'>
      <div class='col-md-3 btn-group-vertical'>
        <button {{action 'typeSelect' 'cService'}} {{bind-attr class=':btn :btn-primary isCService:selected-button'}}>C Service</button>
        <button {{action 'typeSelect' 'shipping'}} {{bind-attr class=':btn :btn-primary isShipping:selected-button'}}>Shipping</button>
      </div>
      <div class='col-md-9' style='padding:0;'>
        <div class='col-md-12 input-group'>
          <span class="input-group-addon" id="customerSpan">Customer</span>
          {{input valueBinding='customer' type='text' class='form-control' aria-describedby='customerSpan'}}
        </div>
        {{#view 'cServiceInputs' isVisible=isCService}}
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group date">
            <span class="input-group-addon date" id="beginningSpan">Beginning</span>
            {{input valueBinding='beginning' disabled='true' type='text' class='form-control' aria-describedby='beginningSpan'}}
          </div>
        </div>
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group date">
            <span class="input-group-addon date" id="endSpan">End</span>
            {{input valueBinding='end' disabled='true' type='text' class='form-control' aria-describedby='endSpan'}}
          </div>
        </div>
        {{/view}}
        {{#view 'shippingInputs' isVisible=isShipping}}
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group">
            <span class="input-group-addon" id="itemNumberSpan">Item #</span>
            {{input valueBinding='itemNum' type='text' class='form-control' aria-describedby='beginningSpan'}}
          </div>
        </div>
        <div class='col-md-6' style='padding:0;'>
          <div class="input-group">
            <span class="input-group-addon" id="endSpan">Quantity</span>
            {{input valueBinding='quantity' type='text' class='form-control' aria-describedby='endSpan'}}
          </div>
        </div>
        {{/view}}
      </div>
      <div class='col-md-12' style='padding:0;'>
        {{textarea valueBinding='description' class='form-control' maxlength='140' rows='2'}}
      </div>
      <div style='text-align:center;'>
        <button {{action 'addTask'}}class='btn btn-success'>Add</button>
      </div>
    </div>
    <div class='col-md-2'></div>
    {{/view}}
    <table class='table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Created</th>
          <th>Beginning / Item Number</th>
          <th>End / Quantity</th>
        </tr>
      </thead>
      <tbody>
        {{#each task in model}}
        {{#view 'task' classNames='hover' id=task.id tag='tr' task=task}}
          <td>{{task.id}}</td>
          <td>{{task.customer.name}}</td>
          <td>{{task.createAt}}</td>
          {{#if task.isCService}}
          <td>{{task.when}}</td>
          <td>{{task.appoint}}</td>
          {{else}}
          <td>Item Number: {{task.itemNum}}</td>
          <td>Quantity: {{task.quantity}}</td>
          {{/if}}
        {{/view}}
        {{/each}}
      </tbody>
    </table>
    {%endverbatim%}
  </script>

  <script data-template-name="_paginationFooter" type="text/x-handlebars">
    {%verbatim%}
    <div class='col-md-3'>
      <button {{action 'prevNextSelect' 'prev'}}class="btn btn-primary selected-button">
        <span class="glyphicon glyphicon-chevron-left"> Previous Page </span>
      </button>
    </div>
    <div class='col-md-6'>
      <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
          {{#each button in buttonArray}}
          {{#if button.isVisible}}
          <button {{action 'pageSelect' button.number}}
                  {{bind-attr class=':btn :btn-primary button.isSelected:selected-button'}}
                  >
            {{button.number}}
          </button>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <button {{action 'prevNextSelect' 'next'}} class="btn btn-primary selected-button">
        <span class="glyphicon glyphicon-chevron-right"> Next Page </span>
      </button>
    </div>
    <div class='col-md-12' style="height:20px;"></div>
    {%endverbatim%}
  </script>
  {% endblock %}
</div>

<div class='col-md-12' style='height:90px;'></div>

{% endblock %}

{% block scripts %}
<script src="/static/jquery/dist/jquery.js"></script>
<script src="/static/handlebars/handlebars.js"></script>
<script src="/static/ember/ember.js"></script>
<script src="/static/ember-data/ember-data.js"></script>
<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src='/static/home/crm.js'></script>
{% endblock %}

