<!DOCTYPE>
<html>
  <head>
    <!-- <base href="/" target="_blank"> -->
    <title>CRM</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/home/index.css">
  </head>

  <body>
    <div class='container'>
      {% if logged_in %}
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customer_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.city }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form action="logout/">
        <input type="submit" value="Log Out" class="btn btn-success">
      </form>

      {% else %}
      <div class='col-md-10 head-div'>
        <h1>CRM</h1>
      </div>
      <div class='col-md-2 head-div'>
        <div>
          <button type='button' class='btn btn-success'>
            Sign In
          </button>
        </div>
      </div>
      <div class='col-md-12'>
        <form action="login/" method="post"> {% csrf_token %}
          <label for="username">User name:</label>
          <input type="text" name="username" value="" id="username">
          <label for="password">Password:</label>
          <input type="password" name="password" value="" id="password">
          <input type="submit" value="Log In" class="btn btn-primary"/>
        </form>
      </div>
      {% endif %}

    </div>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/handlebars/handlebars.js"></script>
    <script src="/static/ember/ember.js"></script>
  </body>
</html>
