<!DOCTYPE>
<html>
  <head>
    <!-- <base href="/" target="_blank"> -->
    <title>CRM</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body>
    <div class='container'>
      <h1>CRM</h1>
      <p>Thanks for visiting my site.</p>

      {% if logged_in %}
      <form action="logout/">
        <input type="submit" value="Log Out" class="btn btn-success">
      </form>
      {% else %}
      <form action="login/" method="post"> {% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" value="Log In" class="btn btn-primary"/>
      </form>
      {% endif %}

    </div>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/handlebars/handlebars.js"></script>
    <script src="/static/ember/ember.js"></script>
  </body>
</html>
