{% extends "BASE.html" %}

{% block links %}
<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/static/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet" href="/static/home/index.css">
{% endblock %}

{% block logged_out%}
<div class='col-md-10 head-div'>
  <h1>CRM</h1>
</div>
<div class='col-md-2 head-div'>
  <div>
    <button type='button' class='btn btn-success'>
      Sign In
    </button>
  </div>
</div>
{% block no_access_message %}
{% endblock %}
<div class='col-md-12'>
  <form action="/login/" method="post"> {% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="Log In" class="btn btn-primary"/>
  </form>
</div>
{% endblock %}

