.head-div {
  height: 70px;
}

a:link {
  text-decoration: none;
}

.hover:hover {
  background-color: #78AEDC;
  color: #E7E7E7;
}

#content {
  border-radius: 10px;
}

#tasks-label {
  background-color: #78AEDC;
}

#tasks-label:hover , #customers-label:hover {
  color :#E7E7E7;
}

.task-info {
  background-color: white;
}

#add-btn-div {
  text-align: center;
}

.new-task-div {
  background-color: #F8F8F8;
  border-radius: 10px;
  height: 150px;
}

.unselect-button {
  background-color: #78AEDC;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

textarea {
  resize: none;
}


