.head-div {
  height: 70px;
}

a:link {
  text-decoration: none;
}

.hover:hover {
  background-color: #78AEDC;
  color: #E7E7E7;
}

#content {
  border-radius: 10px;
}

.label.label-primary {
  background-color: #78AEDC;
}

.label.label-primary:hover {
  color :#E7E7E7;
}

.task-info {
  background-color: white;
}

#add-btn-div {
  text-align: center;
}

.new-task-div {
  padding-top: 15px;
  background-color: #F8F8F8;
  border-radius: 10px;
  padding-bottom:15px;
}

.btn.btn-primary {
  background-color: #78AEDC;
}

.btn.btn-primary.selected-button, .label.label-primary.selected-label {
  background-color: #2F79B9;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

textarea {
  resize: none;
}


